{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/contact.css') }}">

 {% endblock %}

{% block body %}



<div class="container">
    <div class="col-10">
        <div class="form-area contenu">

        <h3>Contact</h3>
        <br>

    <form>
        <div class="form-group contact">
            <label for="exampleInputEmail1">Nom</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Entrez votre nom.">
        </div>
        <div class="form-group contact">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Entrez votre email.">
        </div>
        <div class="form-group contact">
            <label for="exampleInputPassword1">Sujet</label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Sujet.">
        </div>
        <div class="form-group contact">
            <label for="exampleInputPassword1">Message</label>
            <textarea type="textarea" class="form-control" id="message" name="message" placeholder="Ecrire votre message ici."></textarea>
        </div>
        <br><br>
        <div class="form-btn-group text-center">
        <button type="submit" class="btn button-color">Submit</button>
        </div>
    </form>
</div>
    </div>
</div>

{% endblock %}
