{% extends 'base.html.twig' %}

{% block body %}


    <div class="ajax">

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    $(function () { // DOM ready

        // Vérification du format de la série

        var similar = "https://api.themoviedb.org/3/tv/" + {{ id }} +"/similar?api_key=6f077ac27b8512d9188198b9d2e07cad"

        // Récupération des données de l'API
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": similar,
            "method": "GET",
            "headers": {},
            "data": "{}"
        }

        // Méthode AJAX

        $.ajax(settings).done(function (response) {
                console.log(response);


                // Remplir la variable content avant de l'inclure dans la div AJAX
                var content = '';

                if(response.total_results != 0)
                {
                    console.log('ici');
                    $(response.results).each(function () {
                        var resultatapi = this;

                        if (this.poster_path != null) {
                            content += '<img src="https://image.tmdb.org/t/p/w500' + this.poster_path + '">';
                        }
                        if (((this.name) != 'undefined') || ((this.title) != 'undefined')) {
                            content += '<div class="alert alert-success">' + ("Le titre est : " + this.name) + ' </div>';
                        }
                        if (this.first_air_date != '') {
                            content += '<div class="alert alert-success">' + ("La première diffusion : " + this.first_air_date) + ' </div>';
                        }
                        if (this.original_language != '') {
                            content += '<div class="alert alert-success">' + ("Langue : " + this.original_language) + ' </div>';
                        }
                        if (this.vote_average != 0) {
                            content += '<div class="alert alert-success">' + ("La note est : " + this.vote_average) + ' </div>';
                        }
                        if (this.overview != '') {
                            content += '<div class="alert alert-success">' + (this.overview) + ' </div>'
                        }


                    });
                }else
                {
                    content = '<div class="alert alert-danger"> Il n\'y a pas de série similaire ' + '<a href="http://127.0.0.1:8000/recommandation/">Retour aux recommandations</a></div><br>';
                }

                $('.ajax').html('').prepend(
                    // Inclure content dans la div
                    content
                );

            }
        );
    })





</script>



{% endblock %}