{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block head_css %}
    {{ parent() }}

=======
{% block stylesheets %}
    {{ parent() }}
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
    <link rel="stylesheet" href="{{ asset('css/waitingscreen.css') }}">

{% endblock %}

{% block body %}
<<<<<<< HEAD

    {{ parent() }}

=======
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
    <main>
        <section>
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-md-5 contenu">
                        <h3>CONNEXION</h3>
                        <form>

<<<<<<< HEAD
                            <div class="form-group">
=======
                            <div class="form-test">
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
                                <label for="email">Votre identifiant</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Merci de saisir votre identifiant">
                            </div>

<<<<<<< HEAD
                            <div class="form-group">
=======
                            <div class="form-test">
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
                                <label for="password">Mot de passe</label>
                                <input type="password" class="form-control" id="password" placeholder="Merci de saisir votre mot de passe">
                            </div>
                            <button type="submit" class="btn button-color">Valider</button>

                        </form>
                    </div>

<<<<<<< HEAD

                    <div class="col-md-5 contenu">
                        <h3>S'INSCRIRE</h3>
                        <form>
                            <div class="form-group">
=======
                    <div class="col-md-5 contenu">
                        <h3>S'INSCRIRE</h3>
                        <form>
                            <div class="form-test">
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
                                <label for="email">Votre identifiant (adresse email)</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Merci de saisir votre identifiant">
                            </div>

<<<<<<< HEAD
                            <div class="form-group">
=======
                            <div class="form-test">
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
                                <label for="pseudo">Votre pseudo</label>
                                <input type="pseudo" class="form-control" id="pseudo" placeholder="Merci de saisir votre pseudo">
                            </div>

<<<<<<< HEAD
                            <div class="form-group">
=======
                            <div class="form-test">
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
                                <label for="password">Mot de passe</label>
                                <input type="password" class="form-control" id="password" placeholder="Merci de saisir votre mot de passe">
                            </div>

<<<<<<< HEAD
                            <div class="form-group">
=======
                            <div class="form-test">
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
                                <label for="password_confirmation">Confirmation du mot de passe</label>
                                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Merci de confirmer votre mot de passe">
                            </div>

                            <button type="submit" class="btn button-color">Valider</button>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
<<<<<<< HEAD

=======
>>>>>>> 7604fbb531511bfdd20a1381212a6a19c1941615
{% endblock %}