h3 {
    color: #fecc00;
}

.home {
    padding-top: 7em;
}

.populaire, .envies, .enregistre {
    border: 1px solid darkgrey;
    border-radius: 0.8%;
    padding: 3em;
    margin: 2em 25em;
    box-shadow: 2px 2px 15px darkgray;
}

.enregistre {
    margin-bottom: 5em;
}