#pagecontainer {
    margin-top: 3%;
    max-width: 1500px;
    max-height: 2000px;
    position: relative;
    display: flex;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

/* Barre recherche */

#recherche {
    width: 25%;

}

.list-group {
    margin-top: 10%;
    padding-top: 30%;
    height: 30%;
    background-color: lightseagreen;
}

.formulaire {
    margin-top: 10%;
    padding-top: 30%;
    height: 60%;

}

/* Film affiche */
#filmgrille {
    background: lightcyan;
    width: 75%;


}
.card-deck{
    display: flex;
    justify-content: space-evenly;
}

#filmgrille .heading h2 {
    color: black;
}




.divimage{
    max-width: 300px;
    max-height: 450px;
    min-width: 280px;
    min-height: 450px;
}
.divimage:hover img{
    transform: scale(1.2);

}



.card{
    max-width: 300px;
}
.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9{
    width: 100%;
    height: 100%;
}
