{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <section class="container home-haut">
        
            <h3>Séries populaires</h3>
            <br>





            <div class="populaire-row-haut">
                <div class="card-deck">
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien1" id="test"href="">
                                <img class="card-img-top image1" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title1"> </h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien2" href="">
                                <img class="card-img-top image2" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title2"></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien3" href="">
                                <img class="card-img-top image3" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title3"></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien4" href="">
                                <img class="card-img-top image4" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title4"> </h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien5" href="">
                                <img class="card-img-top image5" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title5"></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            

    </section>

    <section class="home-bas container">

        <div class="liked">
            <h3>Séries que vous avez aimées</h3>
            <br>


            <div class="populaire-row-haut">
                <div class="card-deck">
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien1" id="test"href="">
                                <img class="card-img-top image1" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title1"> </h5>
                            <p class="card-text card1"></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien2" href="">
                                <img class="card-img-top image2" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title2"></h5>
                            <p class="card-text card2"></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien3" href="">
                                <img class="card-img-top image3" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title3"></h5>
                            <p class="card-text card3" ></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien4" href="">
                                <img class="card-img-top image4" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title4"> </h5>
                            <p class="card-text card4"></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien5" href="">
                                <img class="card-img-top image5" src="" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title5"></h5>
                            <p class="card-text card5"></p>
                        </div>
                    </div>
                </div>


            </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script>
        $(function () { // DOM ready
            // Vérification du format de la série
            var api1 = "https://api.themoviedb.org/3/search/tv?api_key=6f077ac27b8512d9188198b9d2e07cad&query=game-of-thrones";
            // Récupération des données de l'API
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": api1,
                "method": "GET",
                "headers": {},
                "data": "{}"
            }
            // Méthode AJAX
            $.ajax(settings).done(function (response) {
                console.log(response);
                // Remplir la variable content avant de l'inclure dans la div AJAX
                var content1 = '';
                var image1 = '';
                var title1 = '';
                var id1= '';
                var card1='';
                if (response.results[0].poster_path != null) {
                    image1 = 'https://image.tmdb.org/t/p/w300' + response.results[0].poster_path;
                }
                else{
                    image1 = ''
                }
                if (response.results[0].name != '') {
                    title1 = '<div>'+ response.results[0].name + '</div>'
                }
                if (response.results[0].overview != '') {
                    content1 = '<div>'+ response.results[0].overview + '</div>'
                }
                if (response.results[0].id != '') {
                    id1 = response.results[0].id
                }
                console.log(image1);
                console.log(content1);
                console.log(title1);
                console.log(id1);
                $('.image1').attr("src", image1);
                $('.lien1').attr("href", "http://127.0.0.1:8000/show/"+id1 );
                $('.card1').html('').prepend(
                    content1
                );
                $('.title1').html('').prepend(
                    title1
                );
            });
            var api2 = "https://api.themoviedb.org/3/search/tv?api_key=6f077ac27b8512d9188198b9d2e07cad&query=the-walking-dead";
            var settings2 = {
                "async": true,
                "crossDomain": true,
                "url": api2,
                "method": "GET",
                "headers": {},
                "data": "{}"
            }
            $.ajax(settings2).done(function (response) {
                console.log(response);
                // Remplir la variable content avant de l'inclure dans la div AJAX
                var content2 = '';
                var image2 = '';
                var title2 = '';
                var card2='';
                var id2= '';
                if (response.results[0].poster_path != null) {
                    image2 = 'https://image.tmdb.org/t/p/w300' + response.results[0].poster_path;
                }
                else{
                    image2 = ''
                }
                if (response.results[0].name != '') {
                    title2 = '<div>'+ response.results[0].name + '</div>'
                }
                if (response.results[0].overview != '') {
                    content2 = '<div> '+ response.results[0].overview + '</div>'
                }
                if (response.results[0].id != '') {
                    id2 = response.results[0].id
                }
                console.log(image2);
                console.log(content2);
                console.log(title2);
                console.log(id2);
                $('.image2').attr("src", image2);
                $('.lien2').attr("href", "http://127.0.0.1:8000/show/"+id2 );
                $('.card2').html('').prepend(
                    content2
                );
                $('.title2').html('').prepend(
                    title2
                );
            });
            var api3 = "https://api.themoviedb.org/3/search/tv?api_key=6f077ac27b8512d9188198b9d2e07cad&query=westworld";
            var settings3 = {
                "async": true,
                "crossDomain": true,
                "url": api3,
                "method": "GET",
                "headers": {},
                "data": "{}"
            }
            $.ajax(settings3).done(function (response) {
                console.log(response);
                // Remplir la variable content avant de l'inclure dans la div AJAX
                var content = '';
                var image = '';
                var title = '';
                var i= 0;
                var b=1;
                var id= '';
                if (response.results[0].poster_path != null) {
                    image = 'https://image.tmdb.org/t/p/w300' + response.results[0].poster_path;
                }
                else{
                    image = ''
                }
                if (response.results[0].name != '') {
                    title = '<div>'+ response.results[0].name + '</div>'
                }
                if (response.results[0].overview != '') {
                    content = '<div> '+ response.results[0].overview + '</div>'
                }
                if (response.results[0].id != '') {
                    id = response.results[0].id
                }
                $('.image3').attr("src", image);
                $('.lien3').attr("href", "http://127.0.0.1:8000/show/"+id );
                $('.card3').html('').prepend(
                    content
                );
                $('.title3').html('').prepend(
                    title
                );
            });
            var api4 = "https://api.themoviedb.org/3/search/tv?api_key=6f077ac27b8512d9188198b9d2e07cad&query=breaking-bad";
            var settings4 = {
                "async": true,
                "crossDomain": true,
                "url": api4,
                "method": "GET",
                "headers": {},
                "data": "{}"
            }
            $.ajax(settings4).done(function (response) {
                console.log(response);
                // Remplir la variable content avant de l'inclure dans la div AJAX
                var content = '';
                var image = '';
                var title = '';
                var i= 0;
                var b=1;
                var id= '';
                if (response.results[0].poster_path != null) {
                    image = 'https://image.tmdb.org/t/p/w300' + response.results[0].poster_path;
                }
                else{
                    image = ''
                }
                if (response.results[0].name != '') {
                    title = '<div>'+ response.results[0].name + '</div>'
                }
                if (response.results[0].overview != '') {
                    content = '<div>'+ response.results[0].overview + '</div>'
                }
                if (response.results[0].id != '') {
                    id = response.results[0].id
                }
                $('.image4').attr("src", image);
                $('.lien4').attr("href", "http://127.0.0.1:8000/show/"+id );
                $('.card4').html('').prepend(
                    content
                );
                $('.title4').html('').prepend(
                    title
                );
            });
            var api5 = "https://api.themoviedb.org/3/search/tv?api_key=6f077ac27b8512d9188198b9d2e07cad&query=vikings";
            var settings5 = {
                "async": true,
                "crossDomain": true,
                "url": api5,
                "method": "GET",
                "headers": {},
                "data": "{}"
            }
            $.ajax(settings5).done(function (response) {
                    console.log(response);
                    // Remplir la variable content avant de l'inclure dans la div AJAX
                    var content = '';
                    var image = '';
                    var title = '';
                    var i= 0;
                    var b=1;
                    var id= '';
                    if (response.results[0].poster_path != null) {
                        image = 'https://image.tmdb.org/t/p/w300' + response.results[0].poster_path;
                    }
                    else{
                        image = ''
                    }
                    if (response.results[0].name != '') {
                        title = '<div>'+ response.results[0].name + '</div>'
                    }
                    if (response.results[0].overview != '') {
                        content = '<div>'+ response.results[0].overview + '</div>'
                    }
                    if (response.results[0].id != '') {
                        id = response.results[0].id
                    }
                    $('.image5').attr("src", image);
                    $('.lien5').attr("href", "http://127.0.0.1:8000/show/"+id );
                    $('.card5').html('').prepend(
                        content
                    );
                    $('.title5').html('').prepend(
                        title
                    );
                }
            );
        })
    </script>
{% endblock %}

